/*Setting up main display*/
body {
    display:flex;
    flex-direction: column;
    background-color:#101230;
    font-family: 'Ubuntu Mono';
    color:#babdbd;
}
.accent {
    color:#3bba9c;
}
.lower {
    color:#babdbd;
}
.divider {
    border-top:1px solid #3bba9c;
    border-radius: 5px;
    width:90vw;
}
.divider-mini {
    border-top: 1px solid #3bba9c;
    border-radius:5px;
    width:60vw;
}
a {
    color:inherit;
    text-decoration: inherit;
}


/*Navbar*/
#navbar {
    box-sizing: border-box;
    position:fixed;
    top:0;
    width:100vw;
    height:35px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    background-color: #1b1f52;
    font-size: 25px;
}
.nav {
    margin:10px;
}
#nav-contact {
    margin-right:25px;
}


/*header*/
#header {
    height:90vh;
    margin-left:20px;
    text-align: start;
}
#header p {
    font-size:30px;
    margin-bottom: 0px;;
}
h1 {
    color:#d2d3d3;
    font-size:70px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#header h2 {
    font-size:50px;
    margin-top: 10px;
}


/*About*/
#about {
    height:50vh;
    text-align: left;
    margin:20px;
    display: flex;
}
#about h2 {
    font-size:50px;
}
#about p {
    font-size:20px;
} #me-image {
    height:auto;
    width:500px;
    flex: 0 0 auto;
}


/*Projects*/
#projects {
    text-align: left;
    margin:20px;
}
#projects ul {
    list-style-type: none;
    margin-left:0px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
/*To be added as a mouseover event
img {
    border:2px solid #3bba9c;
}
*/
#projects a {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 30px;;
}
.project-img {
    height:auto;
    width:500px;
    border-radius: 10%;
}
#projects li {
    display:flex;
    gap:20px;
}
#projects p {
    font-size: 20px;
    align-self: flex-end;
}


/*CV*/
#cv {
    display:flex;
    justify-content: center;
    margin-bottom: auto;
}


/*Contact*/
#contact {
    display:flex;
    gap:20px;
    justify-content: flex-end;
    background-color: #1b1f52;
}
.fa{
    color:#3bba9c;
    font-size: 20px;
}